.poem-wrapper {
  padding: 20px;
  container-type: inline-size;
  container-name: poem-wrapper;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.poem {
  font-family: "EB Garamond", serif;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: font-size 0.25s;
}

.poem header {
  text-align: center;
  margin-bottom: 2em;
}

.poem h2 {
  font-size: 1.75em;
  margin-bottom: 4px;
}

.poem .author {
  font-style: italic;
}

.poem .verses {
  display: grid;
  grid-auto-flow: column;
  row-gap: 1.5em;
  column-gap: 2em;
  grid-template-rows: repeat(var(--verses-in-column), 1fr);
  line-height: 1.5;

  --verses-in-column: 3;
}

.poem .verses p {
  break-inside: avoid;
  white-space: nowrap;
}

@container poem-wrapper (max-width: 1280px) {
  .poem {
    font-size: 20px;
  }
}

@container poem-wrapper (max-width: 1200px) {
  .poem {
    font-size: 18px;
  }
}

@container poem-wrapper (max-width: 1080px) {
  .poem .verses {
    --verses-in-column: 4;
  }
}

@container poem-wrapper (max-width: 720px) {
  .poem header {
    margin-bottom: 1em;
  }

  .poem .verses {
    --verses-in-column: 8;
  }
}

@container poem-wrapper (max-width: 360px) {
  .poem {
    font-size: 16px;
  }
}
